#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.message {
  padding: 2em;
  margin: 6px;
  border: 2px solid orange;
  border-radius: 12px;
}

.read-the-docs {
  color: #888;
}
